# Supabase Auth Configuration
SUPABASE_URL=
SUPABASE_JWT_SECRET=
SUPABASE_SECRET_KEY=
COOKIE_DOMAIN=localhost

DATABASE_URL=


# Redis
REDIS_HOST=redis
REDIS_PORT=6379


# Optional: API Port
PORT=3001

ENCRYPTION_KEY=


TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_REDIRECT_URI=http://localhost:3001/auth/twitter/callback

WEB_URL=http://localhost:3000
